<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    codeial/profile page
</h1>




<% if (user.id == profile_user.id) {%>
    <!-- if user matches than we show the form  -->
    <form action="/users/update/<%=profile_user.id%>" method="post"></form>
    <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
    <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
    <input type="submit" value="Update">
    <%}else{%>
        <!-- else show only the profile info -->
        <p>Name : <%= profile_user.name%></p>
        <p>Gmail : <%= profile_user.email%></p>
        <p>Password : <%= profile_user.password%></p>

    <%}%>